$main-bg-color: #E7418F;
$primary-color-2: #cc4a78; 
$secondary-color-red-fade-big: #f11330; 
$secondary-color-red-fade-small: #ee314a; 
$white-color: #FFFFFF;
$primary-color: #1347b6;
$primary-color-fade-blue: #2951a7;
$primary-color-fade-text-blue: #dae0ec;
$primary-color-fade-text-green: #cdf3cc;
$primary-color-text-green: #43e23e;
$primary-color-fade-text-purple: #eedaae;
$primary-color-text-purple: #e0a931;
$black-fade-big-color: #141212f6;
$black-fade-small-color: #413d3df6;
$border-color: #CCCCCC;
$light-color-2: #999;
$light-color-3: #e6dbdb;
$light-color: #faf8f8;
$box-shadow: 0 3px 5px rgba(37, 46, 48, 0.2);
