.m-t-big {
    margin-top: 3.5rem;
}

.m-t-medium {
    margin-top: 1rem;
}

.m-t-small {
    margin-top: 1.2rem;
}

.size-big {
    font-size: 3rem;
    font-weight: 700;
}

.size-small {
    font-size: 1.5rem;
    font-weight: 200;
}

.text-center {
    text-align: center;
}