@use '../abstracts/variables.scss' as *;

.login {
   display: flex;
   align-items: center;
   gap: 3rem;

    padding: 3rem;
    height: 100vh;
    background: linear-gradient(120deg, $primary-color 60%, $primary-color-2);
}